{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Honda Transalp 600</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia nihil aperiam rerum eum libero maiores, consectetur sapiente deserunt, distinctio tempore reiciendis eius sit explicabo! Nemo iste reprehenderit consectetur nisi totam?</p>
    </div>
    <div class="col-4">
        <img src="assets/img/transalp.png" alt="Honda Transalp 600" class="img-thumbnail">
    </div>
</div>

{{> footer }}